@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cute+Font&family=Frijole&family=Gloria+Hallelujah&family=Monoton&family=Permanent+Marker&family=Rock+Salt&family=Rubik+Lines&family=Titan+One&display=swap");
/*
font-family: "Permanent Marker", cursive;
 font-family: "Titan One", sans-serif;
   font-family: "Rubik Lines", system-ui;
     font-family: "Monoton", sans-serif;
       font-family: "Rock Salt", cursive;
         font-family: "Frijole", system-ui;
*/

.conteudo {
  text-align: center;
  height: 40px;
  font-size: 2.1rem;
  color: white;
  line-height: 40px;
  display: flex;
  margin: 0%;
  overflow: hidden;
  font-family: "Frijole", system-ui;
}
@media screen and (max-width: 960px){
  .conteudo{
    height: 40px;
    font-size: 1.3rem;
  }

}
  

ul {
  list-style: none;
  padding-left: 1%;
  animation: web 10s infinite;
  width: 100%;
}
ul {
  margin: 0;
}
@keyframes web {
  0% {
    transform: translateY(0);
  }

  10%,
  20% {
    transform: translateY(-100%);
  }

  30%,
  40% {
    transform: translateY(-200%);
  }

  50%,
  60% {
    transform: translateY(-300%);
  }

  70%,
  80% {
    transform: translateY(-400%);
  }

  85% {
    transform: translateY(-500%);
  }

  100% {
    transform: translateY(-600%);
  }
}