body {

  background: #7e5fa0;

}

.rain-container {
  inset: 0;
  overflow: hidden;
  position: fixed;
  z-index: -4;
}
@keyframes animation {
  0% {
    transform: translate(var(--x-start), var(--y-start)) rotate(0);
  }
  100% {
    transform: translate(var(--x-end), var(--y-end)) rotate(50deg);
  }
}

.rainDrop {
  animation: animation 10s linear infinite;
  transform: translate(var(--x-start), var(--y-start)) rotate(0);
  opacity: var(--a);
}

.rainDrop--s {
    --sz: 5rem;
    --a: 10;
    --x-start: 25vw;/* Posición intermedia para crear el efecto de oscilación */
    --x-end: 50vw;
    --y-start: -20vh; /* Posición inicial arriba de la pantalla *//* Posición media para la oscilación */
    --y-end: 25vh;
    z-index: 20;
}

.rainDrop--m {
    --sz: 2rem;
    --a: 5;
    --x-start:50vw
    --x-end:50;
    --y-start:50;
    --y-end:50vh;
    position: absolute;
    z-index: 50;
}
.rainDrop--l {
    --sz: 3rem;
    --a: 15;
    --x-start:25vw;
    --x-end:50;
    --y-start:-20;
    --y-end:25vh;
    position: absolute;
    z-index: 80;
}
.rainDrop--xl {
    --sz: 6rem;
    --a: 0.8;
    --x-start:75vw;
    --x-end:0;
    --y-start:0;
    --y-end:100vh;
    position: absolute;
    z-index: 100;
}