body {
    padding: 0;
    margin: 0;
    background: rgb(222, 157, 252);
    min-height: 100vh;
}

.rain-container {
    inset: 0;
    overflow: hidden;
    position: fixed;
    z-index: -4;
}
@keyframes animation{
    0%{
        transform: translate(var(--x-start), var(--y-start))rotate(0);
    }100%{
        transform: translate(var(--x-end), var(--y-end))rotate(50deg);
    }
}

.rainDrop {
    font-size: var(--sz);
    animation: animation 15s linear infinite;
    transform: translate(var(--x-start), -15vh) rotate(0);
    opacity: var(--a);
}

.rainDrop--s {
    --sz: 5rem;
    --a: 0.8;
    --x-start:25vw;
    --x-end:50;
    --y-start:50;
    --y-end:25vh;
    position: absolute;
}

.rainDrop--m {
    --sz: 2rem;
    --a: 0.8;
    --x-start:50vw
    --x-end:50;
    --y-start:50;
    --y-end:50vh;
    position: absolute;
    z-index: 50;
}
.rainDrop--l {
    --sz: 3rem;
    --a: 0.8;
    --x-start:75vw;
    --x-end:0;
    --y-start:0;
    --y-end:75vh;
    position: absolute;
    z-index: 80;
}
.rainDrop--xl {
    --sz: 6rem;
    --a: 0.5;
    --x-start:75vw;
    --x-end:0;
    --y-start:0;
    --y-end:100vh;
    position: absolute;
    z-index: 100;
}